body{
    background-color: beige;
}

.heading{
    background-color: rgb(233, 233, 138);
    margin:0 auto 0 auto;
    padding: 0 auto 0 auto;
}

.Box1{
    background-color: rgb(213, 213, 175);
    height: 200px;
    width: 350px;
    display:flex;
    position:unset;
    font-size:20px;

}
.Box2{
    background-color: rgb(213, 213, 175);
    height: 200px;
    width: 350px;
    display:flex;
    position:unset;
    font-size:20px;

}
.Box3{
    background-color: rgb(213, 213, 175);
    height: 200px;
    width: 350px;
    display:flex;
    direction: calc();
    position:unset;
    font-size:20px;

}

img{
    height: 200px;
    width: 350px;
    display:inline-block;
    position: relative;
}






